<div *ngIf="api.item$ | async as service">
  <div class="modal-header">
    <a  (click)="cancel()" class="p-2 ps-4 pull-right" role="button" style=";color: #a5bbd4">
      <i class="fa fa-times fa-lg"></i>
    </a>
  </div>
  <div class="modal-content plr-1 shadow-none">
    <div class="">
      <mdb-tabs>
        <mdb-tab title="Allgemein">
          <ng-template mdbTabContent>
            <div class="form-group form-group-lang mb-3">
              <mdb-form-control>
                <input
                  mdbInput
                  type="text"
                  id="cat-title"
                  class="form-control"
                  [(ngModel)]="
                    service.label['title'][
                      service.label['title']['cLang'] || defaultLanguageId
                    ]
                  "
                />
                <label mdbLabel class="form-label" for="cat-title">Title</label>
                <div class="lang_chooser_pills">
                  <nav class="nav nav-pills nav-fill fadeInDown">
                    <a
                      *ngFor="
                        let l of [
                          { languageId: 1, name: 'de' },
                          { languageId: 2, name: 'en' },
                          { languageId: 3, name: 'fr' }

                        ]
                      "
                      class="nav-item nav-link animated fadeInDown {{
                        (service.label['title']['cLang'] ||
                          defaultLanguageId) == l.languageId
                          ? 'active'
                          : ''
                      }}"
                      (click)="service.changeLang(l.languageId, 'title')"
                    >
                      {{ l.name | uppercase }}
                    </a>
                  </nav>
                </div>
              </mdb-form-control>
            </div>
            <div class="form-group form-group-lang mb-3">
              <mdb-form-control>
                <input
                  mdbInput
                  type="text"
                  id="cat-description"
                  class="form-control"
                  [(ngModel)]="
                    service.label['desc'][
                      service.label['desc']['cLang'] || defaultLanguageId
                    ]
                  "
                />
                <label mdbLabel class="form-label" for="cat-description"
                  >Description</label
                >
                <div class="lang_chooser_pills">
                  <nav class="nav nav-pills nav-fill fadeInDown">
                    <a
                      *ngFor="
                        let l of [
                          { languageId: 1, name: 'de' },
                          { languageId: 2, name: 'en' },
                          { languageId: 2, name: 'en' },
                          { languageId: 2, name: 'en' },
                          { languageId: 2, name: 'en' },
                          { languageId: 2, name: 'en' }
                        ]
                      "
                      class="nav-item nav-link animated fadeInDown {{
                        (service.label['desc']['cLang'] || defaultLanguageId) ==
                        l.languageId
                          ? 'active'
                          : ''
                      }}"
                      (click)="service.changeLang(l.languageId, 'desc')"
                    >
                      {{ l.name | uppercase }}
                    </a>
                  </nav>
                </div>
              </mdb-form-control>
            </div>

            <hr />

            <div class="form-group mb-3">
              <mdb-form-control class="mdb-multiselect">
                <nz-select
                  mdbInput
                  mdbNzSelect
                  class="w-100 form-control px-0"
                  nzMode="multiple"
                  [(ngModel)]="service.categoriesIds"
                  [nzMaxTagCount]="3"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  id="lang"
                >
                  <ng-container *ngIf="api.categories$ | async as categoryData">
                    <ng-container *ngFor="let item of categoryData.data">
                      <ng-container
                        [ngTemplateOutlet]="catList"
                        [ngTemplateOutletContext]="{ item: item }"
                      ></ng-container>
                    </ng-container>
                    <ng-template #catList let-item="item">
                      <nz-option-group [nzLabel]="item.title">
                        <nz-option
                          [nzValue]="item.categoryId"
                          [nzLabel]="item.title"
                        ></nz-option>
                        <nz-option
                          *ngFor="let item of item.children"
                          [nzValue]="item.categoryId"
                          [nzLabel]="item.title"
                        >
                          <ng-container
                            *ngFor="let item of item.children"
                            [ngTemplateOutlet]="catList"
                            [ngTemplateOutletContext]="{ item: item }"
                          ></ng-container>
                        </nz-option>
                      </nz-option-group>
                    </ng-template>
                  </ng-container>
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList>
                  and {{ selectedList.length }} more selected
                </ng-template>
                <label mdbLabel class="form-label px-1" for="lang"
                  >Kategorien</label
                >
              </mdb-form-control>
            </div>
            <div class="form-group mb-3">
              <mdb-form-control class="mdb-multiselect">
                <nz-select
                  mdbInput
                  mdbNzSelect
                  class="w-100 form-control px-0"
                  nzMode="multiple"
                  [(ngModel)]="service.collectionIds"
                  [nzMaxTagCount]="3"
                  [nzMaxTagPlaceholder]="tagPlaceHolder"
                  id="lang"
                >
                </nz-select>
                <ng-template #tagPlaceHolder let-selectedList>
                  and {{ selectedList.length }} more selected
                </ng-template>
                <label mdbLabel class="form-label px-1" for="lang"
                  >Collections</label
                >
              </mdb-form-control>
            </div>
          </ng-template>
        </mdb-tab>
        <mdb-tab title="Optionen">
          <ng-template mdbTabContent> Tab content 2 </ng-template>
        </mdb-tab>
        <mdb-tab title="Mitarbeiter">
          <ng-template mdbTabContent> Tab content 2 </ng-template>
        </mdb-tab>
        <mdb-tab title="Varianten">
          <table style="min-width: 865px;" class="table">
            <thead>
            <tr>
              <td width="33%">Beschreibung</td>
              <td>Preisklasse</td>
              <td>Dauer </td>
              <td>Pfz Start </td>
              <td>Pfz Ende </td>
              <td>Preis</td>
              <td>
                <a (click)="service.addVariant()" class="btn btn-success">
                  +
                </a>
              </td>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variant of service.prices">
                <td>Beschreibung</td>
                <td>Preisklasse</td>
                <td>Dauer </td>
                <td>Pfz Start </td>
                <td>Pfz Ende </td>
                <td>Preis</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </mdb-tab>
        <mdb-tab title="Finanzen">
          <ng-template mdbTabContent> Tab content 3 </ng-template>
        </mdb-tab>
      </mdb-tabs>
    </div>
  </div>
  <div class="modal-footer">
    <button
      (click)="deleteService(service)"
      type="button"
      class="btn btn-danger text-white"
    >
      Löschen
    </button>
    <button
      (click)="cancel()"
      type="button"
      class="btn btn-gray-400 text-white"
      data-bs-dismiss="modal"
    >
      Abbrechen
    </button>
    <button
      (click)="service.itemId ? updateService(service) : saveService(service)"
      type="button"
      class="btn btn-success text-white"
    >
      Speichern
    </button>
  </div>
</div>
