
<form [formGroup]="formPriceClass" *ngIf="api.profilePriceClass$ |
async as priceclass">
    <!-- <input class="form-control" formControlName="title"> -->
    <div class="modal-body">
    <div class="col-12 col-md-9 row">
            <label>Standard</label>
            <div class="input-group mb-3">
            <select class="form-control" formControlName="standard">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
            </div>
       
    </div>
    <div class="col-12 col-md-9 row">
            <label>Color</label>
            <div class="input-group mb-3">
                <input formControlName="color" type="color" class="form-control"
                    placeholder="Color" aria-label="color" aria-describedby="profiles-sagment-color" />
            </div>
    </div>
    <div class="col-12 col-md-9 row">
        <label class="w-100">
            <div style="
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                              ">
                <a>Is Percentage</a>
                <div>
                    <input type="checkbox" formControlName="isPercentage" (change)="eventCheck($event)"  />
                </div>
            </div>
        </label>
    </div>
    <div class="col-12 col-md-9 row" *ngIf="showPercentage">
            <div class="input-group mb-3">
                <input formControlName="percentage" type="number" class="form-control"
                    placeholder="percentage" aria-label="percentage" aria-describedby="profiles-price-class-percentage" />
            </div>
    </div>
    </div>
<div class="modal-footer">

    <button type="button" *ngIf="formPriceClass.valid" (click)="priceclass.priceClassId ? updatePriceClass(priceclass.priceClassId) : savePriceClass()" class="btn btn-success">
        {{priceclass.priceClassId?'update':'save'}}
    </button>
    <button type="button" (click)="cancel()" class="btn btn-success">
        cancel
    </button>
</div>
    
</form>