<ng-container *ngIf="category">
    <div *ngIf="hasItems(category['services'],'title', category.children,'services') "
         class="col-12 cat-title cat-row-item-{{row}}"
         [style.background-color]="category.color || bgColor">
        <a>{{levelTreeSeperator}}</a> <b>{{category.title}}</b>
        <div class="pull-right">
            <i style="margin-right: 20px" class="fa fa-bars"></i>
            <i style="margin-right: 5px"  class="fa fa-plus"></i>
            <i class="fa fa-minus"></i>
        </div>
    </div>
    
    <ng-container *ngIf="(category && category.children.length )">
        <movit-cashsystem-service-row-item
                *ngFor="let cat of category.children"
                [category]="cat"
        ></movit-cashsystem-service-row-item>
    </ng-container>
</ng-container>

