<movit-cashsystem-basket-header></movit-cashsystem-basket-header>

<div class="items-container">
    <table class="table">
        <thead>
            <tr>
                <td>
                    Test
                </td>
            </tr>
        </thead>
        <tr *ngFor="let itemLine of store.basket.items" >
            <td class="bg-white">
              {{itemLine.title}}
            </td>
            <td class="bg-white">
                {{itemLine.price | toFixed}}
            </td>
        </tr>
    </table>
</div>

<movit-cashsystem-basket-footer></movit-cashsystem-basket-footer>
