<ng-template #profileGender>
  <ng-template #genderReqStar>
    <span
      class="text-danger"
      *ngIf="formProfile.controls['gender']?.hasError('required')"
      >*</span
    >
  </ng-template>
  <div [formGroup]="formProfile">
    <div class="form-check form-check-inline ml-1">
      <input
        formControlName="gender"
        class="form-check-input"
        type="radio"
        id="radio-male"
        value="M"
      />
      <label class="form-check-label" for="radio-male"
        ><ng-container [ngTemplateOutlet]="genderReqStar"></ng-container>
        Male</label
      >
    </div>
    <div class="form-check form-check-inline ml-1">
      <input
        formControlName="gender"
        class="form-check-input"
        type="radio"
        id="radio-woman"
        value="W"
      />
      <label class="form-check-label" for="radio-woman">Woman</label>
    </div>
    <div class="form-check form-check-inline ml-1">
      <input
        formControlName="gender"
        class="form-check-input"
        type="radio"
        id="radio-company"
        value="C"
      />
      <label class="form-check-label" for="radio-company">Firma</label>
    </div>
  </div>
</ng-template>

<ng-template #profileName>
  <ng-template #genderReqStar>
    <span
      class="text-danger"
      *ngIf="formProfile.controls['gender']?.hasError('required')"
      >*</span
    >
  </ng-template>
  <div [formGroup]="formProfile"></div>
</ng-template>

<ng-container *ngIf="api.profile$ | async as profile">
  <ng-container *ngIf="viewSettings.type === 'modal'">
    <div class="modal-header">
      <span>#{{ profile.profileId }}</span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-header-sub">
      <select
        (change)="viewSettings.changeMode($event.target.value)"
        [(ngModel)]="viewSettings.mode"
        class="form-control bg-transparent text-white"
      >
        <option value="simple">Einfach</option>
        <option value="details">Detailiert</option>
      </select>
    </div>

    <div
      *ngIf="viewSettings.mode === 'simple'"
      class="modal-body modal-body-profiles"
    >
      <form class="row" [formGroup]="formProfile">
        <div class="col-12 mb-3">
          <ng-container [ngTemplateOutlet]="profileGender"></ng-container>
        </div>

        <ng-container *ngIf="profileType === 'C'">
          <div class="col-12 col-md-9 row">
            <div class="col-12 col-md-12">
              <label>Title</label>
              <div class="input-group mb-3">
                <span class="input-group-text" id="profiles-title">@</span>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control"
                  autocomplete="new-password"
                  placeholder="Title"
                  aria-label="title"
                  aria-describedby="profiles-title"
                />
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <div class="col-12 col-md-9 row">
            <div class="col-12 col-md-6">
              <mdb-form-control class="mt-2">
                <input
                  mdbInput
                  type="text"
                  id="profiles-lastname"
                  formControlName="lastName"
                  class="form-control"
                />
                <label mdbLabel class="form-label" for="profiles-lastname">
                  {{ 'lastname' | translate }}
                </label>
              </mdb-form-control>
            </div>
            <div class="col-12 col-md-6">
              <mdb-form-control class="mt-2">
                <input
                  mdbInput
                  type="text"
                  formControlName="firstName"
                  id="profiles-firstname"
                  class="form-control"
                />
                <label mdbLabel class="form-label" for="profiles-firstname">
                  {{ 'lastname' | translate }}
                </label>
              </mdb-form-control>
            </div>
          </div>
          <div class="col-12 col-md-3 d-none d-md-block">
            <div class="form-group position-relative">
              <img
                class="rounded"
                style="max-width: 100px; position: absolute"
                src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
              />
            </div>
          </div>
        </ng-container>

        <div class="col-12 col-md-9 row">
          <div class="col-12 col-md-6">
            <mdb-form-control class="mt-4">
              <input
                mdbInput
                type="text"
                id="profiles-email"
                formControlName="email"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="profiles-email">
                {{ 'email' | translate }}
              </label>
            </mdb-form-control>
          </div>
          <div class="col-12 col-md-6">
            <mdb-form-control class="mt-4">
              <input
                mdbInput
                type="text"
                id="profiles-email"
                formControlName="email"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="profiles-email">
                {{ 'phone' | translate }}
              </label>
            </mdb-form-control>
          </div>
        </div>

        <hr class="mt-3" />
        <div class="col-12 row">
          <div class="col-12 col-md-4">
            <mdb-form-control class="mt-4">
              <input
                mdbInput
                type="text"
                id="profiles-birthDay"
                formControlName="birthDay"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="profiles-birthDay">
                {{ 'birthday' | translate }}
              </label>
            </mdb-form-control>
          </div>
          <div class="col-12 col-md-4">
            <label>VIP</label>
            <div class="input-group mb-3">
              <select
                formControlName="vip"
                class="form-control"
                autocomplete="new-password"
                aria-label="lastName"
                aria-describedby="profiles-vip"
              >
                <option value="">Nein</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">D</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <label>Sprache </label>
            <div class="input-group mb-3">
              <select
                formControlName="languageId"
                class="form-control"
                autocomplete="new-password"
                aria-label="language"
                aria-describedby="profiles-language"
              >
                <option value="1">Deutsch</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 row">
          <div class="col-12 col-md-4">
            <mdb-form-control class="mdb-multiselect my-2">
              <nz-select
                mdbInput mdbNzSelect
                #s
                class="w-100 form-control px-0"
                formControlName="segments"
                nzMode="multiple"
                aria-label="segments"
                aria-describedby="profiles-segments"
                id="Kundensegment"


              >
                <nz-option
                  *ngFor="let segment of segments$ | async"
                  [nzLabel]="segment.title"
                  [nzValue]="segment.segmentId"
                >
                </nz-option>
              </nz-select>
              <label mdbLabel class="form-label px-1" for="Kundensegment"
                >Kundensegment</label
              >
            </mdb-form-control>
          </div>
          <div class="col-12 col-md-4">
            <mdb-form-control class="mdb-multiselect my-2">
              <nz-select
                mdbInput
                class="w-100 form-control px-0"
                formControlName="priceClass"
                multiple
                aria-label="priceclass"
                aria-describedby="profiles-priceclass"
                id="Preisklasse"
                [ngClass]="{
                  'c-class': formProfile.value.priceClass.length > 0
                }"
              >
              </nz-select>
              <label mdbLabel class="form-label px-1" for="Preisklasse"
                >Preisklasse</label
              >
            </mdb-form-control>
          </div>
          <div class="col-12 col-md-4">
            <mdb-form-control class="mdb-multiselect my-2">
              <nz-select
                mdbInput
                class="w-100 form-control px-0"
                formControlName="source"
                multiple
                aria-label="source"
                aria-describedby="profiles-source"
                id="Source"
                [ngClass]="{ 'c-class': formProfile.value.source.length > 0 }"
              >
              </nz-select>
              <label mdbLabel class="form-label px-1" for="Source"
                >Source</label
              >
            </mdb-form-control>
          </div>

          <div class="col-12">
            <mdb-form-control class="mt-4">
              <textarea
                mdbInput
                class="form-control"
                id="profiles-notes-short"
                rows="4"
              ></textarea>
              <label mdbLabel class="form-label" for="profiles-notes-short">
                {{ 'notes' | translate }}
              </label>
            </mdb-form-control>
          </div>
        </div>
      </form>
    </div>

    <!-- Large Modal -->
    <div
      *ngIf="viewSettings.mode === 'details'"
      class="modal-body modal-body-profiles"
    >
      <div class="row w-100">
        <div class="row col-12 col-md-6">
          <form class="row" [formGroup]="formProfile">
            <mdb-tabs>
              <mdb-tab title="Overview">
                <div class="row shadow pt-3 mb-3">
                  <div class="col-12 mb-3">
                    <ng-container
                      [ngTemplateOutlet]="profileGender"
                    ></ng-container>
                  </div>

                  <ng-container *ngIf="profileType === 'C'">
                    <div class="col-12 row">
                      <div class="col-12 col-md-12">
                        <label>Title</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="profiles-title"
                            >@</span
                          >
                          <input
                            formControlName="title"
                            type="text"
                            class="form-control"
                            autocomplete="new-password"
                            placeholder="Title"
                            aria-label="title"
                            aria-describedby="profiles-title"
                          />
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container>
                    <div class="col-12 col-md-9 row">
                      <div class="col-12 col-md-6">
                        <mdb-form-control>
                          <input
                            mdbInput
                            type="text"
                            id="profiles-lastname"
                            class="form-control"
                          />
                          <label
                            mdbLabel
                            class="form-label"
                            for="profiles-lastname"
                          >
                            {{ 'lastname' }}
                          </label>
                        </mdb-form-control>
                      </div>
                      <div class="col-12 col-md-6">
                        <label>{{ 'firstname' | translate }}</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="profles-firstname"
                            >@</span
                          >
                          <input
                            formControlName="firstName"
                            type="text"
                            class="form-control"
                            autocomplete="new-password"
                            placeholder="Vorname"
                            aria-label="firstName"
                            aria-describedby="profiles-firstname"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-3 d-none d-md-block">
                      <div class="form-group position-relative">
                        <img
                          class="rounded"
                          style="max-width: 100px; position: absolute"
                          src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                        />
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-12 col-md-9 row">
                    <div class="col-12 col-md-6">
                      <label>Email</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="profiles-email"
                          >@</span
                        >
                        <input
                          type="text"
                          formControlName="email"
                          class="form-control"
                          autocomplete="new-password"
                          placeholder="Email"
                          aria-label="email"
                          aria-describedby="profiles-email"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <label>Telefon</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="profles-phone"
                          >@</span
                        >
                        <input
                          formControlName="phone"
                          type="text"
                          class="form-control"
                          autocomplete="new-password"
                          placeholder="Phone"
                          aria-label="phone"
                          aria-describedby="profiles-phone"
                        />

                        <div
                          class="w-100 text-danger"
                          *ngIf="!formProfile.controls['phone'].valid"
                        >
                          {{ formProfile.controls['phone']?.errors | json }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row shadow pt-3 mb-3">
                  <div class="col-12 mb-3">
                    <ng-container
                      [ngTemplateOutlet]="profileGender"
                    ></ng-container>
                  </div>
                  <ng-container *ngIf="profileType === 'C'">
                    <div class="col-12 row">
                      <div class="col-12 col-md-12">
                        <label>Title</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="profiles-title"
                            >@</span
                          >
                          <input
                            formControlName="title"
                            type="text"
                            class="form-control"
                            autocomplete="new-password"
                            placeholder="Title"
                            aria-label="title"
                            aria-describedby="profiles-title"
                          />
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container>
                    <div class="col-12 col-md-9 row">
                      <div class="col-12 col-md-6">
                        <label>Nachname</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="profiles-lastname"
                            >@</span
                          >
                          <input
                            formControlName="lastName"
                            type="text"
                            class="form-control"
                            autocomplete="new-password"
                            placeholder="Nachname"
                            aria-label="lastName"
                            aria-describedby="profiles-lastname"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <label>Vorname</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="profles-firstname"
                            >@</span
                          >
                          <input
                            formControlName="firstName"
                            type="text"
                            class="form-control"
                            autocomplete="new-password"
                            placeholder="Vorname"
                            aria-label="firstName"
                            aria-describedby="profiles-firstname"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-3 d-none d-md-block">
                      <div class="form-group position-relative">
                        <img
                          class="rounded"
                          style="max-width: 100px; position: absolute"
                          src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                        />
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-12 col-md-9 row">
                    <div class="col-12 col-md-6">
                      <label>Email</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="profiles-email"
                          >@</span
                        >
                        <input
                          type="text"
                          formControlName="email"
                          class="form-control"
                          autocomplete="new-password"
                          placeholder="Email"
                          aria-label="email"
                          aria-describedby="profiles-email"
                        />
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <label>Telefon</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="profles-phone"
                          >@</span
                        >
                        <input
                          formControlName="phone"
                          type="text"
                          class="form-control"
                          autocomplete="new-password"
                          placeholder="Phone"
                          aria-label="phone"
                          aria-describedby="profiles-phone"
                        />

                        <div
                          class="w-100 text-danger"
                          *ngIf="!formProfile.controls['phone'].valid"
                        >
                          {{ formProfile.controls['phone']?.errors | json }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mdb-tab>
              <mdb-tab title="Address"> </mdb-tab>
              <mdb-tab title="Tab 3"> </mdb-tab>
            </mdb-tabs>
          </form>
        </div>
        <div class="row col-12 col-md-6">
          <mdb-tabs>
            <mdb-tab title="Phone">Tab content 1</mdb-tab>
            <mdb-tab title="Appotionets">Tab content 1</mdb-tab>
            <mdb-tab title="Bills">Tab content 2</mdb-tab>
            <mdb-tab title="Voucher">Tab content 3</mdb-tab>
          </mdb-tabs>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        *ngIf="profile.profileId"
        (click)="delete(profile.profileId)"
        type="button"
        class="btn btn-danger text-white"
      >
        Löschen
      </button>
      <button
        (click)="closeModal()"
        type="button"
        class="btn btn-primary text-white"
        data-bs-dismiss="modal"
      >
        Abbrechen
      </button>
      <button
        (click)="save(profile)"
        type="button"
        class="btn btn-success text-white"
      >
        Speichern
      </button>
    </div>
  </ng-container>
</ng-container>
