:host {
  height: 100%;
}
.shadow {
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.modal-body-profiles {
  ::ng-deep {
    .tab-pane {
      padding: 10px;
    }
  }
}
