<!-- CALCULATOR -->
<div *ngIf="CC" id="calculator-container" class="{{isAbsolute ? 'isAbsolute' : ''}}" [style.bottom]="bottom+'px'">
  <div class="calculator">
    <div *ngIf="inlineTotal">
      <table class="total-table-inline" style="position: absolute; line-height: 20px; top: 29px; left: 28px; font-size: 15px; opacity: 0.5;">
        <tr>
          <td style="min-width: 75px;">  <b>{{'payment' | translate:'':'cash' | titlecase}}:</b></td>
          <td>
            <span> {{priceGiven | toFixed}} </span>
          </td>

        </tr>
        <tr>
          <td><b>{{'open' | translate | titlecase }}:</b></td>
          <td> <span> {{priceTotal - priceGiven  | toFixed}} </span></td>
        </tr>
      </table>
    </div>
    <input disabled [(ngModel)]="CC.input" style="background: white;display: flex;flex-direction: column;padding: 0;min-height: 40px" class="input" id="input">
    <div class="buttons" [style.width]="buttonMaxWidth+'%'">
      <div *ngIf="!inlineTotal" class="operators">

        <div  class="tab-money tip active" >
          <p> tip:</p>
          <span> 0 </span>
        </div>

        <div   class="tab-money" >
          <p>{{'payment'| translate:'':'cash' | titlecase }}</p>
          <span> {{priceGiven | toFixed}} </span>
        </div>
        <div >
          <p>  {{'open'| translate | titlecase}} </p>
          <span> {{priceTotal - priceGiven  | toFixed}} </span>
        </div>

      </div>
      <div style="" class="leftPanel">
        <div   class="numbers">
          <div (click)="CC.onBtn(7)" id="num_7" class="number">7</div>
          <div (click)="CC.onBtn(8)" id="num_8" class="number">8</div>
          <div (click)="CC.onBtn(9)" id="num_9" class="number">9</div>
          <div (click)="CC.onBtnClear(7)" id="clear">C</div>
        </div>
        <div class="numbers">
          <div (click)="CC.onBtn(4)" id="num_4" class="number">4</div>
          <div (click)="CC.onBtn(5)" id="num_5" class="number">5</div>
          <div (click)="CC.onBtn(6)" id="num_6" class="number">6</div>
          <div (click)="CC.onBtnOperator('÷')"id="num_div" class="operator">&divide;</div>
        </div>
        <div class="numbers">
          <div  (click)="CC.onBtn(1)" id="num_1" class="number">1</div>
          <div (click)="CC.onBtn(2)"  id="num_2" class="number">2</div>
          <div (click)="CC.onBtn(3)"  id="num_3" class="number">3</div>
          <div (click)="CC.onBtnOperator('×')" id="num_x" class="operator" >×</div>
        </div>
        <div class="numbers">
          <div (click)="CC.onBtn(0)"           id="num_0"     class="number">0</div>
          <div (click)="CC.onBtn('.')"         id="num_point" class="operator">.</div>
          <div (click)="CC.onBtnOperator('-')" id="num_minus" class="operator">-</div>
          <div (click)="CC.onBtnOperator('+')" id="num_plus"  class="operator">+</div>

        </div>

        <!-- CASHout -->
        <div class="numbers">
          <div  (click)="CC.calculate()"  id="result">=</div>
          <div  (click)="CC.calculate();clickPrint()"     (click)="CC.onBtnPrint()" class="print text"        ><a class="fa fa-print"></a></div>
          <div id="confirmcalc"  [style.opacity]=" priceTotal ? 1:0.1" (click)="CC.calculate();clickPay()" style="color:white;background: #009ff1!important;" class=" text" ><a class="fa fa-calculator"></a></div>
          <div *ngIf="allowGroup"  (click)="CC.calculate();clickAddCash()"  style="background-color: #6cdc6f!important;" class="btn-success text"    > {{'group' | translate}} </div>
          <div [style.opacity]="canCashOut ? 1:0.1"  (click)="CC.calculate();clickCashOut()"  style="background-color: #6cdc6f!important;" class="btn-success text"    >
            <a class="fa fa-check"></a>
           </div>
        </div>
      </div>

    </div>
  </div>
</div>
