
<ng-template #topbar>
    <div class="left-box cursor-pointer">
        <i class="fas fa-cog"></i>
    </div>
    <div class="d-flex justify-content-between w-100">
        <h4 class="slide">
            {{ 'kontoübersicht' | translate }}
        </h4>
        <div class="pe-2">

        </div>
    </div>
</ng-template>
<div class="p-3 pt-4 content">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-white border-bottom-0 pt-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-wrap">
                        <ng-container *ngFor="let list of lists">
                            <a
                                    [class.active]="list.name === tab"
                                    class="cursor-pointer nav-link my-2 me-4" (click)="tab = list.name">{{list.name | translate}}</a>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngFor="let list of lists">
    <div *ngIf="tab === '' || list.name === tab" class="p-3 pt-1 content">
        <div class="col-12 col-md-12 col-lg-12 mb-5">
            <div class="card">
                <div class="card-header bg-white border-bottom-0 pb-0">
                    <div class="d-flex justify-content-between">
                        <span class="h5 mx-2 mt-4 mb-0 font-weight-bold" style="margin-left: 1.4rem !important">
                            {{list.name}}
                        </span>
                        <div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 ">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th *ngFor="let key of table.keys"  [width]="key.width">
                                            {{key.name }}
                                        </th>
                                        <th>
                                            In der Kasse anzeigen 
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let data of accounts$ | async">
                                        <tr *ngIf="canShowCode(data.code, list.codeFrom,  list.codeTill)">
                                            <td *ngFor="let key of table.keys" [width]="key.width">
                                                {{key.render ? key.render(data[key.key || key.name]) : data[key.key || key.name]}}
                                            </td>
                                            <td class="text-center">
                                                <input 
                                                    mdbCheckbox
                                                    class="form-check-input"
                                                    type="checkbox" [checked]="data.showInCashSystem" (change)="data.showInCashSystem = !data.showInCashSystem;updateAccount(data)">
                                            </td>
                                        </tr>
                                    </ng-container >
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>