<ng-template #topbar>
  <div class="left-box cursor-pointer">
    <i class="fas fa-cog"></i>
  </div>
  <div class="d-flex justify-content-between w-100">
    <h4 class="slide">
      {{ 'profiles' | translate }}
    </h4>
    <div class="pe-2">
      <button (click)="mockupImporter()" class="btn btn-success">Import</button>
    </div>
  </div>
</ng-template>

<div class="p-4">
  <div class="container">
    <div class="pb-4">
      <div class="col-12 card bg-white shadow p-3">
        <div class="">
          <div class="row">
            <div class="col-12 col-md-10">
              <mdb-form-control>
                <i class="fa fa-search trailing"></i>
                <input
                  (keyup)="getProfiles()"
                  [(ngModel)]="profileTable.filterValues.searchValue"
                  mdbInput
                  type="text"
                  id="search"
                  class="form-control"
                />
                <label mdbLabel class="form-label" for="search">
                  {{ 'search' | translate }}
                </label>
              </mdb-form-control>
            </div>
            <div class="col-6 col-md-2 mt-2 mt-md-0">
              <div class="form-group">
                <button
                  mdbRipple
                  (click)="createProfile()"
                  class="btn btn-success text-white w-100"
                >
                  {{ 'create' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <table class="table table-sm mb-0 bg-white">
        <thead>
          <tr>
            <th>{{ 'firstname' | translate }}</th>
            <th>{{ 'lastname' | translate }}</th>
            <th>{{ 'email' | translate }}</th>
            <th>{{ 'phone' | translate }}</th>
            <th>{{ 'birthday' | translate }}</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody *ngIf="profileTable.data$ | async as tableData">
          <ng-container *ngFor="let profile of tableData.data">
            <tr class="entry-row">
              <ng-container *ngFor="let key of profileTable.eachKeyField">

                <ng-container *ngIf="key === 'birthDay'">
                  <td>{{ profile[key] | date:'dd.MM.yy' }}</td>
                </ng-container>
                <ng-container *ngIf="key !== 'birthDay'">
                  <td>{{ profile[key] }}</td>
                </ng-container>

              </ng-container>
              <td class="text-right ps-0 pe-2" width="80px" align="right">
                <button
                  mdbRipple
                  (click)="editProfile(profile.profileId)"
                  class="btn btn-primary"
                >
                  <i class="fa fa-edit text-white"></i>
                </button>
              </td>
              <td class="text-right ps-0 pe-2" width="80px" align="right">
                <button
                  mdbRipple
                  (click)="deleteProfile(profile.profileId)"
                  class="btn btn-danger"
                >
                  <i class="fa fa-trash text-white"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
</div>
