:host{
  display: table-row-group;
}



.finalized--1 {
  background-color: rgba(254,54,68,.48);
}
.finalized-0 {
  background-color: grey;
  color:white;
  input{
    color:white;
  }
}
.finalized-1 {
  background-color: #90c695;
}
.finalized-2 {
  background-color: #f1d088;
}
