.cat-title {
  min-height: 35px;
  padding:    10px;
  align-self: center;
  justify-content: space-between;
  display: flex;
  &-icon{
    min-width: 60px;
    display: flex;
    justify-content: center;
  }
}

// squares
.chooser-item {
  align-self: center;
  width: 125px;
  position: relative;
  overflow: hidden;
  border: 4px;
  min-height: 66px;
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  background-size: cover!important;
  text-align: center;
  padding-bottom: 0;
}
.chooser-item.bar{
  width: 100%!important;
  border-radius: 0px!important;
  height: 30px!important;
  margin: 0!important;
}
.has-img{
  height: 110px !important;
  display: flex;
  div{
    align-self: flex-end;
    width: 100%;
    background: #eaeaea;
  }
}


$colour1: rgb(75, 187, 255); // white
$colour2: rgb(91, 174, 255); // red
$colour3: rgb(129, 176, 250); // sky blue
$colour4: rgb(133, 176, 255);   // yellow
$colour5: rgb(117, 135, 255);   // yellow
$colour6: rgb(105, 123, 255);   // yellow
$colour7: rgb(111, 111, 255);   // yellow
$colour8: rgb(135, 122, 255);   // yellow
$colour9: rgb(136, 120, 255);   // yellow
$colour10: rgb(158, 112, 255);   // yellow
$colour11: rgb(152, 119, 255);   // yellow
$colour12: rgb(157, 110, 255);   // yellow
$colour13: rgb(160, 97, 255);   // yellow
$colour14: rgb(179, 97, 255);   // yellow
$colour15: rgb(181, 32, 255);   // yellow
$colour16: rgb(235, 108, 182);   // yellow
$colour17: rgb(235, 108, 182);   // yellow
$colour18: rgb(235, 91, 118);   // yellow
$colour19: rgb(235, 77, 75);   // yellow
$colour20: rgb(235, 160, 61);   // yellow
$colour21:rgb(249, 202, 36);   // yellow
$colour22:rgb(106, 176, 76);   // yellow
$colour23: rgb(146, 176, 93);   // yellow


$colors:  $colour1, $colour2, $colour3, $colour4, $colour5,  $colour6, $colour7, $colour8, $colour9,
$colour10,$colour11,$colour12,$colour13,$colour14,$colour15,$colour16 ,$colour17,$colour18,$colour19,
$colour20,$colour21,$colour22,$colour23 ;

@for $i from 1 through length($colors) {
  .cat-row-item-#{$i}{
    background: nth($colors, $i);
  }
  .row-item-#{$i}{
    background: nth($colors, $i);
    &.has-img div{
      background: nth($colors, $i);
    }
  }
}

