:host{
  height: 100%;
  display: block;
}





.circle {
  background: #ea3e3e;
  border-radius: 50%;

  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 100;
  p {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 32px
  }
}
