<ng-template #topbar>
  <div class="left-box cursor-pointer">
    <i class="fas fa-cog"></i>
  </div>
  <div class="d-flex justify-content-between w-100">
    <h4 class="slide">
      User Onboarding
    </h4>
    <div class="pe-2">

    </div>
  </div>
</ng-template>

<div class="d-md-flex h-100 w-100">
  <div class="d-none d-sm-block col-sm-3 col-md-2" *ngIf="menuItems.length" >
    <nav class="navbar bg-white h-100 d-flex align-items-start ">
      <ul class="navbar-nav d-block ps-sm-2 ps-md-3">
        <li *ngFor="let menuItem of menuItems" class="border-1 nav-item">
          <a routerLinkActive="active" class="nav-link d-flex align-items-center text-dark">
            <i class="{{ menuItem.icon }} trailing"></i>
            <span class="ms-2 ">{{ menuItem.title }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="p-3 w-100">
    <div class="container">
      <div class="col-12 card bg-white shadow p-3 mb-4">
          <div class="">
            <div class="row">
              <div class="col-12 col-md-8"></div>
              <div class="col-3 col-md-2 mt-2 mt-md-0">
                <div class="form-group">
                  <button (click)="createNewUser()" mdbRipple class="btn btn-success text-white w-100">
                    create user
                  </button>
                </div>
              </div>
              <div class="col-3 col-md-2 mt-2 mt-md-0">
                <div class="form-group">
                  <button mdbRipple class="btn btn-success text-white w-100">
                    Choose user
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="card shadow pt-3 pb-3">
        <table class="w-100" *ngIf="tableOnBoarding.data$ | async as tableData">
          <tr *ngFor="let row of tableData.data" class="py-2 text-black">
            <td>
              <div class="circle">
                <p class="text-white">{{ row.id }}</p>
              </div>
            </td>
            <td>{{ row.title }}</td>
            <td>{{ row.description }}</td>
            <td>
              <div class="boarding-state">
                <span class="dot-state active"></span>
                <span class="dot-state active"></span>
                <span class="dot-state not-active"></span>
                <span class="dot-state"></span>
              </div>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary btn-rounded btn-sm fw-bold"
                mdbRipple rippleColor="dark"
              >
                <i class="fa fa-edit text-white"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
