<div class="modal-header">
  <span># </span>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-header-sub">
  <select class="form-control bg-transparent text-white">
    <option value="simple">Einfach</option>
    <option value="details">Detailiert</option>
  </select>
</div>

<form [formGroup]="reservationForm" class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <mdb-form-control>
          <input
            formControlName="title"
            mdbInput
            type="text"
            id="res-title"
            class="form-control"
          />
          <label mdbLabel class="form-label" for="res-title">{{
            'title' | translate
          }}</label>
        </mdb-form-control>
      </div>
      <div class="col-5">
        <mdb-form-control>
          <input
            formControlName="place"
            mdbInput
            type="text"
            id="res-place"
            class="form-control"
          />
          <label mdbLabel class="form-label" for="res-title">{{
            'address' | translate
          }}</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="row mt-3 align-items-center">
      <div class="col-10">
        <mdb-form-control class="mdb-multiselect my-2">
          <nz-select
            mdbInput
            mdbNzSelect
            class="w-100 form-control px-0"
            nzShowSearch
            nzServerSearch
            formControlName="profileIds"
            [nzShowArrow]="false"
            (nzOnSearch)="searchProfile($event)"
            [nzMaxTagCount]="10"
            nzMode="multiple"
            id="profiles-search"
          >
            <!-- [ngClass]="{'c-class':$event.length >0}" -->
            <nz-option
              *ngFor="let item of filteredProfiles"
              [nzLabel]="item.firstName"
              [nzValue]="item.profileId"
            ></nz-option>
          </nz-select>
          <label mdbLabel class="form-label px-1" for="profiles-search">
            Kunden
          </label>
        </mdb-form-control>
        <ng-template #tagPlaceHolder let-selectedList
          >and {{ selectedList.length }} more selected</ng-template
        >
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-success text-white">
          {{ 'add' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-7">
        <div class="row">
          <div class="col">
            <label>Show as</label>
            <div class="input-group">
              <select formControlName="state" class="form-control">
                <option value="">Busy</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label>Confidentiality</label>
            <div class="input-group">
              <select formControlName="confidentiality" class="form-control">
                <option value="">Standard</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label>Duration</label>
        <div class="input-group">
          <select formControlName="duration" class="form-control">
            <option value="">1h20min</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <label>Price</label>
        <mdb-form-control>
          <input
            formControlName="price"
            mdbInput
            type="number"
            id="res-price"
            class="form-control"
          />
        </mdb-form-control>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-7">
        <table class="table quick-service-table table-bordered">
          <thead>
            <tr>
              <td style="width: 100px" class="select-noborder text-dark">
                <select class="form-control">
                  <option value="service">Service</option>
                  <option value="product">Product</option>
                </select>
              </td>
              <td>{{ 'employees' | translate | titlecase }}</td>
              <td>{{ 'duration' | translate | titlecase }}</td>
              <td>{{ 'amount' | translate | titlecase }}</td>
              <td>{{ 'price' | translate | titlecase }}</td>
              <td style="border-right: 0">Total</td>
            </tr>
            <tr>
              <td style="padding: 0" colspan="100%">
                <select
                  aria-placeholder="Search|Service"
                  class="w-100"
                ></select>
              </td>
            </tr>
          </thead>

          <tbody></tbody>
        </table>
      </div>
      <div class="col-5">
        <div class="col-12">
          <label>From</label>
          <div class="row">
            <div class="col">
              <mdb-form-control>
                <input
                  formControlName="startDate"
                  mdbInput
                  type="date"
                  id="res-start"
                  class="form-control"
                />
              </mdb-form-control>
            </div>
            <div class="col">
              <mdb-form-control>
                <input
                  formControlName="startTime"
                  mdbInput
                  type="time"
                  id="res-start"
                  class="form-control"
                />
              </mdb-form-control>
            </div>
          </div>
        </div>
        <div class="col-12 mt-2">
          <label>Till</label>
          <div class="row">
            <div class="col">
              <mdb-form-control>
                <input
                  formControlName="endDate"
                  mdbInput
                  type="date"
                  id="res-end-date"
                  class="form-control"
                />
              </mdb-form-control>
            </div>
            <div class="col">
              <mdb-form-control>
                <input
                  formControlName="endTime"
                  mdbInput
                  type="time"
                  id="res-end-time"
                  class="form-control"
                />
              </mdb-form-control>
            </div>
          </div>
        </div>
        <div class="col-12 mt-2">
          <label>Short description</label>
          <mdb-form-control>
            <textarea
              formControlName="description"
              mdbInput
              id="res-description"
              class="form-control"
            ></textarea>
          </mdb-form-control>
        </div>
        <div class="col-12 mt-2">
          <label>Responsible staff</label>
          <select formControlName="employee" class="form-control">
            <option value="">Weslley De Souza</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-danger text-white">
    {{ 'delete' | translate }}
  </button>
  <button
    (click)="cancel()"
    type="button"
    class="btn btn-primary text-white"
    data-bs-dismiss="modal"
  >
    {{ 'cancel' | translate }}
  </button>
  <button (click)="save(null)" type="button" class="btn btn-success text-white">
    {{ 'save' | translate }}
  </button>
</div>
