.chooser-item {
  align-self: center;
  width: 125px;
  position: relative;
  overflow: hidden;
  border: 4px;
  min-height: 66px;
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  background-size: cover!important;
  text-align: center;
  padding-bottom: 0;
}