<div *ngIf="api.category$ | async as category">
  <div class="modal-header">
    <span class="text-white">
      <small>Kategorie</small>
    </span>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-header-sub">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"> Übersicht </a>
      </li>
    </ul>
  </div>
  <div class="modal-body">
    <div class="form-group form-group-lang mb-3">
      <mdb-form-control>
        <input
          mdbInput
          type="text"
          id="cat-title"
          class="form-control"
          [(ngModel)]="
            category.label['title'][
              category.label['title']['cLang'] || defaultLanguageId
            ]
          "
        />
        <label mdbLabel class="form-label" for="cat-title">Title</label>
        <div class="lang_chooser_pills">
          <nav class="nav nav-pills nav-fill fadeInDown">
            <a
              *ngFor="
                let l of [
                  { languageId: 1, name: 'de' },
                  { languageId: 2, name: 'en' },
                  { languageId: 2, name: 'en' },
                  { languageId: 2, name: 'en' },
                  { languageId: 2, name: 'en' },
                  { languageId: 2, name: 'en' }
                ]
              "
              class="nav-item nav-link animated fadeInDown {{
                (category.label['title']['cLang'] || defaultLanguageId) ==
                l.languageId
                  ? 'active'
                  : ''
              }}"
              (click)="category.changeLang(l.languageId, 'title')"
            >
              {{ l.name | uppercase }}
            </a>
          </nav>
        </div>
      </mdb-form-control>
    </div>

    <div class="form-group mt-4">
      <label class="w-100 col-form-label"
        ><b>Ist die Unterkategorie von:</b></label
      >
      <nz-select
        *ngIf="api.categories$ | async as categoryData"
        nzPlaceHolder="Please select"
        class="w-100"
        [(ngModel)]="category.parentCategoryId"
        [nzMaxTagPlaceholder]="tagPlaceHolder"
      >
        <ng-container *ngFor="let item of categoryData.data">
          <ng-container
            [ngTemplateOutlet]="catList"
            [ngTemplateOutletContext]="{ item: item }"
          ></ng-container>
        </ng-container>
        <ng-template #catList let-item="item">
          <nz-option-group [nzLabel]="item.title">
            <nz-option
              [nzValue]="item.categoryId"
              [nzLabel]="item.title"
            ></nz-option>
            <nz-option
              *ngFor="let item of item.children"
              [nzValue]="item.categoryId"
              [nzLabel]="item.title"
            >
              <ng-container
                *ngFor="let item of item.children"
                [ngTemplateOutlet]="catList"
                [ngTemplateOutletContext]="{ item: item }"
              ></ng-container>
            </nz-option>
          </nz-option-group>
        </ng-template>
      </nz-select>
      <ng-template #tagPlaceHolder let-selectedList>
        and {{ selectedList.length }} more selected
      </ng-template>
    </div>

    <div class="form-group mt-4">
      <mdb-form-control class="mdb-multiselect">
        <nz-select
                mdbInput
                mdbNzSelect
                id="cat-enabled"
                [(ngModel)]="category.enabled"
                class="form-control"
        >
          <nz-option [nzValue]="1" nzLabel="Ja">Ja</nz-option>
          <nz-option [nzValue]="0" nzLabel="Nein">Ja</nz-option>
        </nz-select>
        <label mdbLabel class="form-label" for="cat-enabled"
        >Aktiviert</label
        >
      </mdb-form-control>
    </div>

    <div class="form-group mt-4">
       <div class="d-flex">
         <div style="max-width: 50px" class="input-group">
           <input
                   type="color"
                   [(ngModel)]="category.color"
                   class="form-control p-1"
                   placeholder="Color"
                   aria-label="color"
                   aria-describedby="profiles-sagment-color"
           />
         </div>
         <label class="ms-3">Farbe</label>
       </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="category.categoryId"
      (click)="deleteCategory(category)"
      type="button"
      class="btn btn-danger text-white"
    >
      Löschen
    </button>
    <button
      (click)="cancel()"
      type="button"
      class="btn btn-gray-400 text-white"
      data-bs-dismiss="modal"
    >
      Abbrechen
    </button>
    <button
      (click)="
        category.categoryId ? updateCategory(category) : saveCategory(category)
      "
      type="button"
      class="btn btn-success text-white"
    >
      Speichern
    </button>
  </div>
</div>
