<ng-template #topbar>
  <div class="left-box"></div>
  <h4 class="slide">
    {{ 'profilessegment' | translate }}
  </h4>
</ng-template>

<div class="p-4">
  <div class="container">
    <div class="pb-4">
      <div class="col-12 card bg-white shadow p-3">
        <div>
          <div class="row">
            <div class="col-12 col-md-10">
              <mdb-form-control>
                <input
                  mdbInput
                  type="text"
                  id="searchvalue"
                  class="form-control"
                  [(ngModel)]="profileSegmentTable.filterValues.searchValue"
                />
                <label mdbLabel class="form-label" for="searchvalue">{{
                  'search' | translate
                }}</label>
              </mdb-form-control>
            </div>
            <div class="col-12 col-md-2 mt-2 mt-md-0">
              <div class="form-group">
                <a
                  (click)="createSegment()"
                  class="btn btn-success text-white w-100"
                  >Create</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <table class="table mb-0 bg-white">
        <thead>
          <tr>
            <th>Title</th>
            <th>Color</th>
            <th>Order</th>
            <th colspan="2" class="text-end pe-2" align="right">
              <a></a>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="profileSegmentTable.data$ | async as tableData">
          <ng-container *ngFor="let data of tableData.data">
            <tr *ngIf="profileSegmentTable.canShow(data)" class="entry-row">
              <td>{{ data.title }}</td>
              <td>
                <input
                  type="color"
                  style="height: 30px; width: 30px; padding: 3px"
                  disabled
                  [value]="data.color"
                />
              </td>
              <td class="text-start">{{ data.order }}</td>
              <td class="text-center ps-0 pe-2" width="60px" align="right">
                <button
                  mdbRipple
                  (click)="editSegment(data.segmentId)"
                  class="btn btn-primary w-75 p-2"
                >
                  <i class="fa fa-edit text-white"></i>
                </button>
              </td>
              <td class="text-center ps-0 pe-2" width="60px" align="right">
                <button
                  mdbRipple
                  (click)="deleteSegment(data.segmentId)"
                  class="btn btn-danger w-75 p-2"
                >
                  <i class="fa fa-trash text-white"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<lib-modal-ui
  *ngIf="api.profileSegment$ | async as segment"
  [style]="{
    display: 'block',
    width: '425px',
    height: 'fit-content',
    left: '0px',
    top: '0px',
    right: '0px',
    bottom: '0px',
    margin: 'auto'
  }"
>
  <movit-profiles-segment-form
    (onSave)="getSegments()"
    (onCancel)="api.profileSegment$.next(null)"
  >
  </movit-profiles-segment-form>
</lib-modal-ui>
