:host{
  height: 100%;
  display: block;
}

table{
  td{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  tr:not(:last-of-type) {
    td {
      border-bottom: solid #efefef 1px
    }
  }
}

.boarding{
  &-state{
    display: flex;
    .dot-state {
      height: 10px;
      width: 10px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin-left: 3px;
      &.not-active{
        background: #f90b28;
      }
      &.active{
        background: #4a964a;
      }


    }
  }
}

.circle {
  background: #ea3e3e;
  border-radius: 50%;
  margin: auto;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 100;
  p {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 32px
  }
}
