<h4 class="pt-4">{{'weclome' | translate}}</h4>
<p class="pt-2">{{'Where do you want to go?'}}</p>

<div class="mt-5">
  <div
    *ngFor="let item of items"
    class="list-item list-item-style"
    [routerLink]="item.path"
  >
    <section>
      <a>
        {{ item.title | translate }}
      </a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
    </section>
  </div>
</div>
