
.services-tab{
   width: 100%;
   display:flex ;
  overflow-x: auto;
  .tab-items{
    box-shadow:none;
    min-width: 110px;
    border-right: 1px #ececec solid !important;
    border-radius: 0;
    width: fit-content;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;
    padding: 0.375rem 0.75rem;
    text-align: center;
    &.active, &:active, &:focus, &:hover {
      background-color: #e4e9f0;
      border-color: #e4e9f0;
    }
  }
}


