<div class="bg-white h-100 overflow-y-auto shadow">
  <div class="services-tab">
    <div
      *ngIf="canShowTab('manual')"
      (click)="changeView('manual')"
      class="border-0 tab-items"
    >
      {{ 'eingabe' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('services')"
      (click)="changeView('services')"
      class="border-0 tab-items"
    >
      {{ 'services' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('products')"
      (click)="changeView('products')"
      class="btn border-0 tab-items"
    >
      {{ 'apps_products' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('coupons')"
      (click)="changeView('coupons')"
      class="border-0 tab-items"
    >
      {{ 'coupon' | translate | titlecase }}/Abo
    </div>
    <div
      *ngIf="canShowTab('res')"
      id="cash--service-tab_res"
      (click)="changeView('appointments')"
      class="border-0 tab-items"
    >
      {{ 'appointments' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('cBills')"
      (click)="changeView('cBills')"
      class="border-0 tab-items"
    >
      {{ 'bill' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('orders')"
      (click)="changeView('orders')"
      class="border-0 tab-items"
    >
      {{ 'orders' | translate | titlecase }}
    </div>
    <div
      *ngIf="canShowTab('history')"
      (click)="changeView('history')"
      class="border-0 tab-items"
    >
      {{ 'history' | translate | titlecase }}
    </div>
  </div>

  <!-- As List-->

  <!-- As Buttons-->
</div>
