/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #514d6a;
}

b,
strong {
  font-weight: bolder;
}

/*Table*/
.table thead th {
  border-bottom: 1px solid #e4e9f0;
  outline: none !important;
}
.table tbody tr:first-child td {
  border-top: none;
}
.table > :not(:first-child) {
  border-top: 2px solid #e4e9f0;
}
.table td,
.table th {
  border-color: #e4e9f0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  overflow: visible;
}

.btn {
  border-radius: 2.01px;
}
