/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../../node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';
@import '../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #514d6a;
}

b,
strong {
  font-weight: bolder;
}

/*Table*/
.table thead th {
  border-bottom: 1px solid #e4e9f0;
  outline: none !important;
}
.table tbody tr:first-child td {
  border-top: none;
}
.table > :not(:first-child) {
  border-top: 2px solid #e4e9f0;
}
.table td,
.table th {
  border-color: #e4e9f0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
  overflow: visible;
}

.btn {
  border-radius: 2.01px;
}

.cursor-pointer {
  cursor: pointer;
}

/* ANT - Desing */
::ng-deep .mdb-multiselect {
  .form-control {
    border: 1px solid #b5babf !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #ffffff !important;
  }

  label {
    // padding-right: 0px 5px !important;
    font-size: 20px !important;
    top: 20px !important;
    background-color: #ffffff !important;
    transition: all 0.2s ease-out !important;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: none !important;
  }

  .ant-select-open + label {
    font-size: 16px !important;
    top: 0px !important;
  }

  .c-class + label {
    font-size: 16px !important;
    top: 0px !important;
  }
}

::ng-deep .lang_chooser_pills {
  nav {
    a {
      cursor: pointer;
      user-select: none;
      background: #f0f7fc;
      margin: 0;
      border-radius: 0 !important;
      border: #c9c9c9 solid !important;
      padding: 3px !important;

      &.active {
        background: rgb(69, 154, 250);
      }
    }
  }

  .nav-pills a:nth-of-type(1) {
    animation-delay: 300ms;
  }

  .nav-pills a:nth-of-type(2) {
    animation-delay: 400ms;
  }

  .nav-pills a:nth-of-type(3) {
    animation-delay: 500ms;
  }

  .nav-pills a:nth-of-type(4) {
    animation-delay: 600ms;
  }

  .nav-pills a:nth-of-type(5) {
    animation-delay: 700ms;
  }

  .nav-pills a:nth-of-type(6) {
    animation-delay: 800ms;
  }

  .nav-pills a:nth-of-type(7) {
    animation-delay: 900ms;
  }

  .nav-pills a:nth-of-type(8) {
    animation-delay: 1000ms;
  }

  .nav-pills a:nth-of-type(9) {
    animation-delay: 1100ms;
  }

  .nav-pills a:nth-of-type(10) {
    animation-delay: 1200ms;
  }

  .nav-pills a:nth-of-type(11) {
    animation-delay: 1300ms;
  }
}
