<ng-template #topbar>
  <div class="left-box"></div>
  <h4
    class="slide"
  >
    {{ 'profile price class' | translate }}
  </h4>
</ng-template>

<div class="p-4">
  <div class="container">
    <div class="pb-4">
      <div class="col-12 card bg-white shadow p-3">
        <div class="">
          <div class="row">
            <div class="col-12 col-md-10">
              <div class="form-group">
                <input
                  [(ngModel)]="profilePriceClassTable.filterValues.searchValue"
                  class="form-control"
                  placeholder="Suchen"
                  tabindex="1"
                />
              </div>
            </div>

            <div class="col-6 col-md-2 mt-2 mt-md-0">
              <div class="form-group">
                <a
                  (click)="createSegment()"
                  class="btn btn-success text-white w-100"
                  >Create</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card shadow">
      <table class="table mb-0 bg-white">
        <thead>
          <tr>
            <th>Title</th>
            <th>Standard</th>
            <th>Color</th>
            <th>Percentage</th>
            <th colspan="2" class="text-end pe-2" align="right">
              <a>Action</a>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="profilePriceClassTable.data$ | async as tableData">
          <ng-container *ngFor="let priceclass of tableData.data">
            <tr *ngIf="profilePriceClassTable.canShow(priceclass)" class="entry-row">
              <td> {{ priceclass.title }} </td>
              <input type="checkbox" [(ngModel)]='priceclass.standard'>
              <td>{{ priceclass.color }} </td>
              <td class="text-center">{{ priceclass.percentage }}%</td>
              <td class="text-end pe-2" align="right">
                <a
                  (click)="editSegment(priceclass.priceClassId)"
                  class="text-primary cursor-pointer">
                  {{ 'edit' }}
                </a>
              </td>
              <td class="text-end pe-2" align="right">
                <a (click)="deleteProfile(priceclass.priceClassId)" class="text-primary cursor-pointer">
                  {{ 'delete' }}
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>


<lib-modal-ui *ngIf="api.profilePriceClass$ | async as priceclass"
[style]="{
    display:'block',
    width: '425px',
    height: 'fit-content',
    left: '0px',
    top: '0px',
    right: '0px',
    bottom: '0px',
    margin:'auto'
}"
>
 <div style="direction:rtl">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closePopup()"
    ></button>
  </div>

  <movit-profiles-price-class-form></movit-profiles-price-class-form>

</lib-modal-ui>