:host {
  height: 100%;
}

.modal-header {
  background: none !important;
  border-bottom: 1px solid rgb(206 210 214 / 50%) !important;
  height: unset !important;
}

.modal-footer {
  border-top: none !important;
}

.invalid-feedback {
  width: 100%;
  font-size: 0.8125rem;
  color: #ff7076;
}
